Repository aim-rsf/Synthetic-Data, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Internal

Create question.md
  .github/ISSUE_TEMPLATE/question.md
Labels: none

Rename question.md to suggestion.md
  .github/ISSUE_TEMPLATE/suggestion.md
Labels: none

Update config.yml
  .github/config.yml
Labels: Internal

banners not rendering - delete for now
  .github/config.yml
Labels: Internal

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

Update README.md
  README.md
Labels: Documentation

.github/labeler.yml:

Documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

Internal:
  - changed-files:
      - any-glob-to-any-file: ['.github/*','.all-contributorsrc']
      
# Testing:
#   - changed-files:
#      - any-glob-to-any-file: []
